<div class="navbar">
  <div class="logout-button"><%= "logout" unless role == "guest" %></div>
  <div> <%= link_to "login", login_path unless role != 'guest' %></div>
  <div>  user: <%= role %></div>
</div>

<script>
    const logoutButton = document.querySelector('.logout-button');
    logoutButton.addEventListener('click', () => {
    window.location.href = '<%= user_logout_path %>';
    });
</script>